<h1>Hello World!</h1>

<p>
	Welcome to my little corner of Rails.<br/>
	This page will eventually be a fully featured Rails website, providing an array of different applictions, any web UI that'd be handy for them, and cloud-based storage for them.<br/>
	However, for the time being, this is just a development portal until they get up and running.<br/>
	<br/>
	Currently, there is no authentication (That's what's being built at the mo'), so I'd prefer it if you wouldn't screw around with any of the data without asking me first. You know, to be considerate.<br/>
	Once I've got some authentication worked up, I'll be setting up a sandbox for the world (that's you!) to mess around with everything as you see fit.<br/>
	Possibly.<br/>
	<br/>
	Churr,<br/>
	~Tim Robb.<br/>
	<br/>
	P.S - I apologise for the lack of style. Currently my designer fiancee is out on holiday, but I'm sure to whip her into submission to pretty-ify this when she gets back!
</p>
<br/><br/>
<p>
	Webpage currently in development: <%= link_to 'Services', services_url %>
</p>