<h1>Hello World!</h1>

<p>
	Welcome to my little corner of Rails.<br/>
	This page will eventually be a fully featured Rails website, however for the time being this is just a big lovely sandbox until it's all up and running.<br/>
	<br/>
	~Tim Robb.<br/>