<!DOCTYPE html>
<html>
	<head>
		<title>OwlCabinet</title>
		<%= stylesheet_link_tag    "application" %>
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body style="background: #EEEEEE;">
		<%= yield %>
	</body>
</html>
